{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}I-EDU GROUP | {% trans "Biz haqimizda" %}{% endblock %}
{% block description %}I-EDU GROUP kompaniyasi haqida ma'lumot bo'limi. Sizni qiziqtirgan ma'lumotlarga javob olish uchun biz bilan bog'laning{% endblock description %}
{% block keywords %}I-EDU GROUP, seo, meta tags, moodle, seo analytics, publication, science,{% endblock keywords %}
{% block twititle %}I-EDU GROUP | {% trans "Biz haqimizda" %}{% endblock twititle %}
{% block ogtitle %}I-EDU GROUP | {% trans "Biz haqimizda" %}{% endblock ogtitle %}
{% block twitterdesc %}I-EDU GROUP kompaniyasi haqida ma'lumot bo'limi. Sizni qiziqtirgan ma'lumotlarga javob olish uchun biz bilan bog'laning{% endblock twitterdesc %}
{% block ogdesc %}I-EDU GROUP kompaniyasi haqida ma'lumot bo'limi. Sizni qiziqtirgan ma'lumotlarga javob olish uchun biz bilan bog'laning{% endblock ogdesc %}
{% block content %}

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>
  
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
  
              <div class="section-title">
                <h2>{% trans "Biz haqimizda" %}</h2>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
{% endblock content %}