{% load static %}
{% load i18n %}

        <!DOCTYPE html>
        <html lang="en">
        
        <head>
          <meta charset="utf-8">
          <meta content="width=device-width, initial-scale=1.0" name="viewport">

          <title>{% block title %}{% endblock %}</title>
          <meta  name="description" content="{% block description %}{% endblock %}" >
          <meta  name="keywords" content="{% block keywords %}{% endblock %}" >
          <meta name="twitter:title" content=" {% block twititle %}{% endblock %} " />
          <meta name="twitter:site" content="@i-edu_uz" />
          <meta name="twitter:image" content="https://i-edu.uz/uploads/img/service/traditional-to-enterprise-seo-6229f8159834d-sej.png" />
          <meta name="twitter:card" content="summary" />
          <meta name="twitter:description" content="{% block twitterdesc %}{% endblock %}" /> 
          <meta property="og:image" content="/uploads/img/service/traditional-to-enterprise-seo-6229f8159834d-sej.png" />
          <meta property="og:type" content="website" />
          <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
          <meta property="og:description" content="{% block ogdesc %}{% endblock %}" />
          <meta property="og:url" content="https://i-edu.uz" />
          <meta property="og:site_name" content="I-EDU GROUP" /> 
         
          <!-- Favicons -->
          <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
          <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
        
          <!-- Vendor CSS Files -->
          <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
          <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
          <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
          <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
          <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
          <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        
          <!-- Template Main CSS File -->
          <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

        </head>
        
        <body>
        
          <!-- ======= Top Bar ======= -->
          <section id="topbar" class="d-none d-lg-block">
            <div class="container clearfix">
              <div class="contact-info float-left">
                <i class="icofont-envelope"></i><a href="mailto:contact@example.com">info@i-edu.uz</a>
                <i class="icofont-phone"></i> +998 97-450-16-77
              </div>
              <div class="social-links float-right">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-telegram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
              </div>
            </div>
          </section>
        
          <!-- ======= Header ======= -->
          <header id="header">
            <div class="container">
        
              <div class="logo float-left">
                <h1 class="text-light"><a href="{% url 'home' %}"><span>I-EDU GROUP</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
              </div>
        
              <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                  <li><a href="{% url 'home' %}">{% trans "Bosh saxifa" %}</a></li>
                  <li><a href="/page/what-we-do-offer">{% trans "Bizning taklif" %}</a></li>
                  <li><a href="/page/nima-uchun-i-edu">{% trans "Nima uchun biz" %}</a></li>
                  <li><a href="/page/nima-beradi">{% trans "Nima beradi" %}</a></li>
                  <li><a href="/page/kim-uchun">{% trans "Kim uchun" %}</a></li>
                  <li><a href="/page/price">{% trans "Narx" %}</a></li>
                  <li class="drop-down"><a href="{% url 'about' %}">{% trans "Biz haqimizda" %}</a>
                    <ul>
                      <li><a href="{% url 'project' %}">{% trans "Proyektlar" %}</a></li>
                      <li><a href="{% url 'service' %}">{% trans "Xizmatlar" %}</a></li>
                      <li><a href="{% url 'team' %}">{% trans "Bizning jamoa" %}</a></li>
                      <li><a href="{% url 'contact' %}">{% trans "Biz bilan bog'laning" %}</a></li>
                    </ul>
                  </li>
                  <li class="float-left">
                    <form class="row" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                      <input class="form-control mb-3" name="next" type="hidden" value="{{ redirect_to }}">
                      <select class="form-select" name="language">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}
                          {% for language in languages %}
                              <option class="text-center" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected disabled{% endif %}>
                                  {{ language.code }}
                              </option>
                          {% endfor %}
                      </select>
                      <input class="btn btn-danger mb-3" type="submit" value="Change">
                  </form>
                  </li>
                </ul>
              </nav><!-- .nav-menu -->
        
            </div>
          </header><!-- End Header -->

{% block content %}
{% endblock content %}


          <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>i-edu.uz</h3>
            <p>
              A108 Adam Street <br>
              NY 535022, USA<br><br>
              <strong>Phone:</strong> +998 97-450-16-77<br>
              <strong>Email:</strong> info@i-edu.uz<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-telegram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{% trans "Foydali havolalar" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Bosh saxifa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">Biz haqimizda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}">Xizmatlar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Xizmat ko'rsatish shartlari</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maxfiylik siyosati</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% trans "Bizning xizmatlarimiz" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">SEO</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Moodle</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Science publication</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{% trans "Bizning xabarnomamiz" %}</h4>
            <p></p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="{% trans "Subscribe" %}">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>I-Edu Group</span></strong>. {% trans "All Rights Reserved" %}
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
        {% trans "Designed by" %} <a href="https://i-edu.uz/">I-Edu Group</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    $('#language-list a').on('click', function(event) {
    event.preventDefault();
    var target = $(event.target);
    var url = target.attr('href');
    var language_code = target.data('language-code');
    $.ajax({
        type: 'POST',
        url: url,
        data: {language: language_code},
        headers: {"X-CSRFToken": getCookie('csrftoken')}
    }).done(function(data, textStatus, jqXHR) {
        reload_page();
    });
  });
  function getCookie(name) {
    var value = '; ' + document.cookie,
        parts = value.split('; ' + name + '=');
    if (parts.length == 2) return parts.pop().split(';').shift();
}

function reload_page() {
    window.location.reload(true);
}
  </script>
</body>

</html>