{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}I-EDU GROUP | {% trans "Bosh saxifa" %}{% endblock %}
{% block description %}I-EDU GROUP kompaniyasi sizlarga qulaylik yaratadi.{% endblock description %}
{% block keywords %}seo,seo analytics, moodle, moodle tizimi, science, adti, jspi{% endblock keywords %}
{% block twititle %}I-EDU GROUP | {% trans "Bosh saxifa" %}{% endblock twititle %}
{% block ogtitle %}I-EDU GROUP | {% trans "Bosh saxifa" %}{% endblock ogtitle %}
{% block twitterdesc %}I-EDU GROUP kompaniyasi sizlarga qulaylik yaratadi.{% endblock twitterdesc %}
{% block ogdesc %}I-EDU GROUP kompaniyasi sizlarga qulaylik yaratadi.{% endblock ogdesc %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('{% static 'assets/img/slide/slide-1.jpg' %}');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animated fadeInDown">{% trans "Moodle tizimi" %}</h2>
                <p class="animated fadeInUp">{% trans "Onlayn ta'limni tashkil etish xizmati" %}</p>
                <a href="{% url 'service' %}" class="btn-get-started animated fadeInUp scrollto">{% trans "Batafsil" %}</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('{% static 'assets/img/slide/slide-2.jpg' %}');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animated fadeInDown">{% trans "SEO" %}</h2>
                <p class="animated fadeInUp"> {% trans "Sayt qidiruv tizimini optimallashtirish" %}</p>
                <p class="animated fadeInUp">Veb-saytlarni optimallashtirish har qanday Internet-resurs uchun zarur rivojlanish yo'nalishi hisoblanadi. Bugungi kunda veb-sahifalar soni juda katta va shuning uchun raqobat juda yuqori. Bularning barchasi potentsial mijozga murojaat qilish tobora qiyinlashishiga olib keladi. SEO qidiruv tizimlarida saytni targ'ib qilishga qaratilgan chora-tadbirlar majmuini anglatadi.</p>
                <a href="{% url 'service' %}" class="btn-get-started animated fadeInUp scrollto">{% trans "Batafsil" %}</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('{% static 'assets/img/slide/slide-3.jpg' %}');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animated fadeInDown">{% trans "Science publication" %}</h2>
                <p class="animated fadeInUp">«Scopus» va «Web of science»da ilmiy maqolalar chop etish xizmati.</p>
                <a href="{% url 'service' %}" class="btn-get-started animated fadeInUp scrollto">{% trans "Batafsil" %}</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">{% trans "Previous" %}</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">{% trans "Next" %}</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= About Lists Section ======= -->
    <section class="about-lists">
      <div class="container">
        <div class="section-title">
          <h2>{% trans "Xizmatlarimiz" %}</h2>
        </div>
        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <span>{% trans "Moodle" %}</span>
            <h4>{% trans "Onlayn ta'lim platformasi" %}</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>{% trans "SEO" %}</span>
            <h4>{% trans "Sayt qidiruv tizimini optimallashtirish" %} </h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>{% trans "Science publication" %}</span>
            <h4>{% trans "«Scopus» va «Web of science»da ilmiy maqolalar chop etish xizmati" %}</h4>
          </div>
        </div>

      </div>
    </section><!-- End About Lists Section -->

    <!-- ======= Counts Section ======= -->
    <section class="counts section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
            <div class="count-box">
              <i class="icofont-simple-smile" style="color: #20b38e;"></i>
              <span data-toggle="counter-up">232</span>
              <p>{% trans "Mijozlar" %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="icofont-document-folder" style="color: #c042ff;"></i>
              <span data-toggle="counter-up">521</span>
              <p>{% trans "Proyektlar" %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
            <div class="count-box">
              <i class="icofont-live-support" style="color: #46d1ff;"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>{% trans "Qo'llab-quvvatlash soatlari" %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
            <div class="count-box">
              <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
              <span data-toggle="counter-up">15</span>
              <p>{% trans "Professional mutaxasisslar" %}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->

  {% endblock content %}