{% extends 'base.html' %} {% load static %} 
{% block title %}I-EDU GROUP | Xizmatlar{% endblock %}
{% block description %}I-EDU GROUP kompaniyasining sizlar uchun ko'rsatishi mumkin bo'lgan xizmatlar ro'yxati. Sizni qiziqtirgan ma'lumotlarga javob olish uchun biz bilan bog'laning{% endblock description %}
{% block keywords %}I-EDU GROUP, seo, meta tags, moodle, seo analytics, publication, science,{% endblock keywords %}
{% block content %}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container">
    <div class="section-title">
      <h2>Bizning xizmatlar!</h2>
      <p></p>
    </div>

    <div class="row">
      {% for i in Service %}
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        {% if i.image %}
        <img
          src="{{ i.image.url }}"
          class="img-thumbnail" data-src="{{ i.image.url }}" alt="{{i.title}}"
        />
        {% endif %}
        <br />
        <br />
        <h6 class="btn-info text-center">{{i.price}}$</h6>
        <h4 class="title"><a href="#">{{i.title}}</a></h4>
        <p class="description">{{i.desc|safe}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Our Team Section -->

{% endblock content %}
